---
import { IoSearchOutline } from "react-icons/io5";
import LeftToggleMenu from "./LeftToggleMenu";
import MobileMenuToggle from "./MobileMenuToggle";
import Logo from "../../../assets/img/logo/logo.png";
import WLogo from "../../../assets/img/logo/w_logo.png";
import { categoryListWithRelation } from "@/scripts/graphql-query";

const response = await fetch(`${import.meta.env.PUBLIC_BASEURL}/graphql`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: categoryListWithRelation(),
  }),
});

const json = await response.json();
const categories = json?.data?.categories ?? [];

console.log("categories ---", categories);

---

<div id="sticky-header" class="menu-area menu-style-six">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="menu-wrap">
          <nav class="menu-nav">
            <div class="logo d-none">
              <a href="/"><img src={Logo.src} alt="" /></a>
            </div>
            <div class="logo d-none white-logo">
              <a href="/"><img src={WLogo.src} alt="" /></a>
            </div>
            <div class="offcanvas-toggle">
              <LeftToggleMenu client:load />
            </div>
            <div class="navbar-wrap main-menu d-none d-lg-flex">
              {
                categories?.length ? (
                  <ul class="navigation">
                    {categories.map((cat: any) => (
                      // class="active"
                      <li
                        class={
                          cat?.categories?.length
                            ? " menu-item-has-children"
                            : ""
                        }
                      >
                        <a href={"/category/" + cat.slug}>
                          {cat.title}
                        </a>
                        {cat?.categories?.length ? (
                          <ul class="sub-menu">
                            {cat.categories.map(
                              (subCat: any) => (
                                // class="active"
                                <li>
                                  <a
                                    href={"/category/" + subCat.slug}
                                  >
                                    {subCat.title}
                                  </a>
                                </li>
                              )
                            )}
                          </ul>
                        ) : null}
                      </li>
                    ))}
                    <li>
                      <a href="/contact">Contact</a>
                    </li>
                  </ul>
                ) : null
              }
            </div>
            <div class="header-search-wrap header-search-wrap-three">
              <!-- <form action="#">
                <input type="text" placeholder="Search here . . ." />
                <button type="submit"><IoSearchOutline /></button>
              </form> -->
            </div>
            <div class="mobile-nav-toggler">
              <!-- <FaBars /> -->
              <MobileMenuToggle client:load />
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
