---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/common/Breadcrumb.astro";
import WeeklyPostThree from "@/components/cards/WeeklyPostThree.astro";
import SidebarWrap from "@/components/sidebar-wrap/index.astro";
import { categoryList } from "@/scripts/graphql-query";
import { categoryDeatails } from "@/scripts/graphql-query";
import { tansation, getCategorySEOmeta } from "@/scripts/helpets";
import Pagination from "@/components/common/Pagination.astro";

changeLanguage("en");

// Get the `page` parameter from the URL
const url = new URL(Astro.request.url);
const page = parseInt(url.searchParams.get("page") || "1");
export const prerender = true;
export async function getStaticPaths() {
    const response = await fetch(`${import.meta.env.PUBLIC_BASEURL}/graphql`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            query: categoryList(),
        }),
    });
    const json = await response.json();
    const { categories } = json.data;
    const paths = categories.data.map((category: any) => ({
        params: { slug: category.attributes.slug },
    }));
    return paths;
}
const { slug } = Astro.params;
const data = await fetch(`${import.meta.env.PUBLIC_BASEURL}/graphql`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: categoryDeatails(slug, page, "en"),
    }),
});
const json = await data.json();
const { hotCategories, justInRecent, categoryPost, category } = json.data;
const { attributes } = category.data?.at(0);
---

<Layout pageData={getCategorySEOmeta(attributes)}>
  <Breadcrumb data={tansation(attributes, "breadcrumb")} />

  <!-- blog-area -->
  <section class="blog-area pt-60 pb-60">
    <div class="container">
      <div class="author-inner-wrap">
        <div class="row justify-content-center">
          <div class="col-70">
            {
              categoryPost?.data?.length ? (
                <div class="weekly-post-item-wrap-three">
                  <div class="row">
                    {categoryPost.data.map((post: any) => (
                      <div class="col-md-6">
                        <WeeklyPostThree post={post.attributes} />
                      </div>
                    ))}
                  </div>
                </div>
              ) : null
            }

            <Pagination pagination={categoryPost.meta.pagination} />

            <!-- <div className="pagination-wrap mt-30">
              <nav aria-label="Page navigation example">
                  <ul className="pagination list-wrap">
                      <li className="page-item active">
                          <a className="page-link" href="#">1</a>
                      </li>
                      <li className="page-item"><a className="page-link" href="#">2</a></li>
                      <li className="page-item"><a className="page-link" href="#">3</a></li>
                      <li className="page-item"><a className="page-link" href="#">4</a></li>
                      <li className="page-item"><a className="page-link" href="#">5</a></li>
                  </ul>
              </nav>
          </div> -->
          </div>
          <div class="col-30">
            <SidebarWrap
              categories={hotCategories?.data}
              latestPosts={justInRecent}
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog-area-end -->
</Layout>
