---
import { Image } from "astro:assets";
import {
  showImage,
  tansation,
  getImageHeightAndWeight,
} from "@/scripts/helpets";
import dayjs from "dayjs";
import RTEDrawer from "@/components/RTE-drawer/index.astro";

const { post } = Astro.props;
console.log("post", post);


---

<div class="banner-post-six">
  {
    post && post.image?.length ? (<div class="banner-post-thumb-six">
    <a href={post.slug}>
      <Image
        src={showImage(post.image)}
        height={getImageHeightAndWeight(post.image, "height") || 400}
        width={getImageHeightAndWeight(post.image, "width") || 600}
        alt="image"
        loading="lazy"
        decoding="async"
      />
    </a>
  </div>
  <div class="banner-post-content-six">
    <a href={post?.category?.slug} class="post-tag-two"
      >{post?.category?.title}</a
    >
    <h2 class="post-title bold-underline">
      <a href={post.slug}>{post?.title}</a>
    </h2>
    <div class="blog-post-meta">
      <ul class="list-wrap">
        <li>
          <i class="flaticon-user"></i>by<a href="#"
            >{post.createdBy?.firstname}</a
          >
        </li>
        <li>
          <i class="flaticon-calendar"></i>{
            dayjs(post.createdAt).format("DD MMMM, YYYY")
          }
        </li>
      </ul>
    </div>
    <RTEDrawer
        content={post?.content_first}
        className="line-ellipsis-4"
      />
  </div>) : post ? (
    <div class="banner-post-content-six">
      <a href={post?.category?.data?.attributes.slug} class="post-tag-two"
          >{post?.category?.data?.attributes?.title}</a
        >
        <h2 class="post-title bold-underline">
          <a href={post.slug}>{post?.title}</a>
      </h2>
      <div class="blog-post-meta">
        <ul class="list-wrap">
          <li>
            <i class="flaticon-user"></i>by<a href="#"
              >{post.createdBy?.firstname}</a
            >
          </li>
          <li>
            <i class="flaticon-calendar"></i>{
              dayjs(post.createdAt).format("DD MMMM, YYYY")
            }
          </li>
        </ul>
      </div>
      <RTEDrawer
        content={post?.content_first}
        className="line-ellipsis-4"
      />
    </div>
  ) : null
  }
</div>
