---
import { Image } from "astro:assets";
import BannerO1 from "@/assets/img/blog/nw_banner_post01.jpg";
import {
  getImageHeightAndWeight,
  showImage,
  tansation,
} from "@/scripts/helpets";
import dayjs from "dayjs";

const { post } = Astro.props;
---

<div class="banner-post-five">
  {
    post ? (
      <div class="banner-post-thumb-five">
        <a href={post.slug}>
          <Image
            src={showImage(post.image)}
            height={getImageHeightAndWeight(post.image, "height")}
            width={getImageHeightAndWeight(post.image, "width")}
            alt="image"
          />
        </a>
        <div class="banner-post-content-five">
          <a href={post?.category?.data?.attributes.slug} class="post-tag-four">
            {tansation(post?.category?.data?.attributes, "title")}
          </a>
          <h2 class="post-title">
            <a href={post.slug}>{tansation(post, "title")}</a>
          </h2>
          <div class="blog-post-meta">
            <ul class="list-wrap">
              <li>
                <i class="flaticon-user" />
                by<a href="#">{post.createdBy?.firstname}</a>
              </li>
              <li>
                <i class="flaticon-calendar" />
                {dayjs(post.PublishedDate).format("DD MMMM, YYYY")}
              </li>
            </ul>
          </div>
        </div>
      </div>
    ) : null
  }
</div>
