---
import { Image } from "astro:assets";
import Banner from "@/assets/img/default/default_website_dailylume.jpg";
import {
  getImageHeightAndWeight,
  showImage,
} from "@/scripts/helpets";
import dayjs from "dayjs";

type Props = {
  post?: any;
};

const { post } = Astro.props;
const imageUrl = showImage(post?.image);
const imageHeight = getImageHeightAndWeight(post?.image, "height");
const imageWidth = getImageHeightAndWeight(post?.image, "width");
---

<div>
  {
    post ? (
      <div class="horizontal-post-four">
        <div class="horizontal-post-thumb-four">
          <a href={"/" + post?.slug}>
            {
              imageUrl && imageHeight && imageWidth ? (
                <Image
                  src={imageUrl}
                  height={imageHeight}
                  width={imageWidth}
                  alt="image"
                  format="avif"
                  quality={"mid"}
                />
              ) : (
                <Image
                  src={Banner}
                  height={200}
                  width={300}
                  alt="image"
                  format="avif"
                  quality={"mid"}
                />
              )
            }
          </a>
        </div>
        <div class="horizontal-post-content-four">
          {/* <a href="blog.html" class="post-tag-four">
            Politics
          </a> */}
          <h4 class="post-title line-ellipsis-4">
            <a href={"/" + post?.slug}>{post?.title}</a>
          </h4>
          <div class="blog-post-meta">
            <ul class="list-wrap">
              <li>
                <i class="flaticon-calendar" />
                {dayjs(post.createdAt).format("DD MMMM, YYYY")}
              </li>
            </ul>
          </div>
        </div>
      </div>
    ) : null
  }
</div>
