---
import { Image } from "astro:assets";
import Banner from "@/assets/img/blog/sports_post01.jpg";
import {
  getImageHeightAndWeight,
  showImage,
  tansation,
} from "@/scripts/helpets";
import dayjs from "dayjs";

type Props = {
  post?: any;
};

const { post } = Astro.props;
const imageUrl = showImage(post?.image);
const imageHeight = getImageHeightAndWeight(post?.image, "height");
const imageWidth = getImageHeightAndWeight(post?.image, "width");
---

<div>
  {
    post ? (
      <div class="sports-post">
        <div class="sports-post-thumb">
          <a href={"/" + post.slug}>
            {
              imageUrl && imageHeight && imageWidth ? (
                <Image
                  src={imageUrl}
                  height={imageHeight}
                  width={imageWidth}
                  alt="image"
                  format="avif"
                  quality={"mid"}
                />
              ) : (
                <Image
                  src={Banner}
                  height={300}
                  width={400}
                  alt="image"
                  format="avif"
                  quality={"mid"}
                />
              )
            }
          </a>
          <div class="sports-post-content">
            {/* <a href="blog.html" class="post-tag-four">
              Swimming
            </a> */}
            <h4 class="post-title bold-underline">
              <a href={"/" + post.slug}>{post?.title}</a>
            </h4>
            <div class="blog-post-meta">
              <ul class="list-wrap">
                <li>
                  <i class="flaticon-user" />
                  by<a href="/">{post.createdBy?.firstname}</a>
                </li>
                <li>
                  <i class="flaticon-calendar" />
                  {dayjs(post.createdAt).format("DD MMMM, YYYY")}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    ) : null
  }
</div>
