---
import { Image } from "astro:assets";
import Banner from "@/assets/img/blog/nw_banner_post01.jpg";
import {
  getImageHeightAndWeight,
  showImage,
} from "@/scripts/helpets";
import dayjs from "dayjs";

const { post } = Astro.props;
const imageUrl = showImage(post?.image);
const imageHeight = getImageHeightAndWeight(post?.image, "height");
const imageWidth = getImageHeightAndWeight(post?.image, "width");
---

{
  post ? (
    <div class="stories-post">
      <div class="stories-post-thumb">
        <a href={post.slug}>
          {
            imageUrl && imageHeight && imageWidth ? (
              <Image
                src={imageUrl}
                height={imageHeight}
                width={imageWidth}
                alt="image"
              />
            ) : (
              <Image
                src={Banner}
                height={300}
                width={400}
                alt="image"
              />
            )
          }
        </a>
      </div>
      <div class="stories-post-content">
        <a href={post?.category?.data?.attributes.slug} class="post-tag-four">
          {post?.category?.data?.attributes?.title}
        </a>
        <h5 class="post-title">
          <a href={post.slug}>{post?.title}</a>
        </h5>
        <div class="blog-post-meta">
          <ul class="list-wrap">
            <li>
              <i class="flaticon-calendar" />
              {dayjs(post.createdAt).format("DD MMMM, YYYY")}
            </li>
          </ul>
        </div>
      </div>
    </div>
  ) : null
}
