---
import { Image } from "astro:assets";
import BannerO1 from "@/assets/img/blog/author_post01.jpg";
import {
  getImageHeightAndWeight,
  showImage,
  tansation,
} from "@/scripts/helpets";
import dayjs from "dayjs";
import RTEDrawer from "@/components/RTE-drawer/index.astro";

type Props = {
  post: any;
};

const { post } = Astro.props;
const imageUrl = showImage(post?.image);
const imageHeight = getImageHeightAndWeight(post?.image, "height");
const imageWidth = getImageHeightAndWeight(post?.image, "width");
---

{
  post ? (
    <div class="weekly-post-three">
      <div class="weekly-post-thumb">
        <a href={post.slug}>
          {
            imageUrl && imageHeight && imageWidth ? (
              <Image
                src={imageUrl}
                height={imageHeight}
                width={imageWidth}
                alt="image"
              />
            ) : (
              <Image
                src={BannerO1}
                height={300}
                width={400}
                alt="image"
              />
            )
          }
          {/* <!-- <a href="blog.html" class="post-tag">Politics</a> --> */}
        </a>
        <div class="weekly-post-content">
          <h2 class="post-title">
            <a href={"/" + post.slug}>{post?.title}</a>
          </h2>
          <div class="blog-post-meta">
            <ul class="list-wrap">
              <li>
                <i class="flaticon-calendar" />
                {dayjs(post.createdAt).format("DD MMMM, YYYY")}
              </li>
            </ul>
          </div>
          <RTEDrawer
              content={post?.content_first}
              className="line-ellipsis-3"
            />
        </div>
      </div>
    </div>
  ) : null
}
